
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        $(function() {
            $.ajax({
                url: "./TestAjaxSleep",
                type: "GET",
                success: function(data) {
                    alert(data);
                }
            });
        });
    </script>
</head>
<body>
<div>
    
    <p>@Html.ActionLink("用户管理", "Index","User") \ <a href="@Url.Action("Index","User")" >用户管理</a></p>
    <p>@Html.ActionLink("后台管理", "Index",new RouteValueDictionary(new { action = "Index",controller="Home",area="Admin" }) ) </p>
    <p>@Html.ActionLink("登录", "SignIn","Account") </p>
    <p>@Html.ActionLink("注册", "SignUp","Account") </p>
</div>
<div></div>
</body>
</html>
