
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        $(function() {
            function Persion(id,name) {
                this.name = name;
                var id = id;
                Persion.prototype.walk = function () {
                    alert(this.name);
                    return this;
                }

                this.run=function() {
                    alert("run");
                    return this;
                }
            }

            var persion1 = new Persion("1", "大名");

            persion1.walk().run();
            console.info(persion1.id);
            console.info(persion1.name);

            var persion2 = new Persion("2", "大2");
            persion2.walk().run().walk();


        });
    </script>
</head>
<body>
<div>
    <div>
        @if (ViewBag.IsAuthenticated)
        {
            <span>您已经登录</span>
            <span>@ViewBag.UserId</span>
            <span>@ViewBag.UserName</span>
            <span>@ViewBag.Email</span>
            <a href="javascript:document.getElementById('sign-out-form').submit()">注销 </a>
            <form id="sign-out-form" method="post" action="@Url.Action("SignOut","Account")">
                @Html.AntiForgeryToken();
            </form>
        }
        else
        {
            <span>您尚未登录</span>
        }
    </div>
    <p>@Html.ActionLink("用户管理", "Index","User") \ <a href="@Url.Action("Index","User")" >用户管理</a></p>
    <p>@Html.ActionLink("后台管理", "Index",new RouteValueDictionary(new { action = "Index",controller="Home",area="Admin" }) ) </p>
    <p>@Html.ActionLink("登录", "SignIn","Account") </p>
    <p>@Html.ActionLink("注册", "SignUp","Account") </p>
    <p> </p>
</div>
<div></div>
</body>
</html>
