@model MFP.Model.BGSystem.UserDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑用户</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <style>
        .layui-form-item .layui-input-inline {
            width: 400px;
        }
    </style>
    <script>
        $(function() {
            $("input[type=reset]").click(function() {
                $(".field-validation-valid").text("");
            });
        })
    </script>
</head>
<body>

    <div style="margin: 20px; padding:20px; border: 2px solid #ddd;">
        <form class="layui-form layui-form-pane"  action="@Url.Action("Edit","User",new { Area="Admin" })" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">用户ID</label>
                <div class="layui-input-inline">
                    <input type="text" name="UserID" required="" readonly="readonly"  placeholder="" autocomplete="off" class="layui-input" value="@Model.UserID">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    @Html.ValidationMessageFor(model => model.UserID)
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="Name" required="" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="@Model.Name">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="PasswordE"  placeholder="若不修改密码，请将此项留空" autocomplete="off" class="layui-input" value="@Model.PasswordE">
                    <input type="password" name="Password" style="display: none;" required="" lay-verify="required" placeholder="" autocomplete="off"  value="000000">
                    <input type="password" name="Password2" style="display: none;" required="" lay-verify="required" placeholder="" autocomplete="off"  value="000000">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    @Html.ValidationMessageFor(model => model.PasswordE)
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input type="password"  name="PasswordE2" placeholder="请确认密码" autocomplete="off" class="layui-input" value="@Model.PasswordE2">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    @Html.ValidationMessageFor(model => model.PasswordE2)
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">年龄</label>
                <div class="layui-input-inline">
                    <input type="number" name="Age" required="" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="@Model.Age">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    @Html.ValidationMessageFor(model => model.Age)
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="email" name="Email" required="" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="@Model.Email">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="formDemo">提交修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
            
        </form>
    </div>


</body>
</html>

